{% extends "base.html" %}
{% block content %}
<h2>
{% if data %}
<p><u>{{ data.origin.name }} ({{ data.origin.loc }})</u></p>
<p>Status: <font color={% if data.brightness<511 %}"green">VACANT{% else %}"red">OCCUPIED{% endif %}</font></p>
<p>Last Updated: {{ meas }}</p> 
<p>Brightness: {{ (data.brightness*100/1023)|int }}%<br>
Temperature: {% if user.temp=='f' %}{{ (32+1.8*(data.temperature*500/1023))|int }}&degF{% else %}{{ (data.temperature*500/1023)|int }}&degC{% endif %}<br>
<!--Volume: {{ (data.volume*100/1023)|int }}%</p>-->
<p>Door: 
{% if data.door > 550 %}Open
{% else %}Closed{% endif %}<br>
Door Last Opened: {{ door }}</p>
{% else %}
<p>No data. Sorry!</p>
{% endif %}
</h2>
<p>{{ data.origin }}.</p>
{% endblock %}
