{% extends "base.html" %}
{% block content %}
<h2>
{% if data %}
<p>Hi. {{ data.origin }}.</p>
<p>Status: <font color={% if data.brightness<511 %}"green">OPEN{% else %}"red">CLOSED{% endif %}</font></p>
<p>Updated: {{ meas }}</p> 
<p>Brightness: {{ (data.brightness*100/1023)|int }}%<br>
Temperature: {{ (data.temperature*500/1023)|int }}&degC<br>
<!--Volume: {{ (data.volume*100/1023)|int }}%</p>-->
<p>Door: 
{% if data.door > 550 %}Open
{% else %}Closed{% endif %}<br>
Door Last Opened: {{ door }}</p>
{% else %}
<p>No data. Sorry!</p>
{% endif %}
</h2>
{% endblock %}
